@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Hanken Grotesk", sans-serif;
}

body{
    background:  hsl(221, 100%, 96%);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main{
    display: flex;
    border-radius: 20px;
    width: 40%;
    margin: auto;
    justify-content: center;
    background: #ffff;
}

.left{
    background: #717bd9;
    background: radial-gradient(circle, rgba(113, 123, 217, 1) 1%, rgba(46, 43, 233, 1) 100%);
    padding: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 20px;
}



.left h3{
    color: #e2e2e2;
}

.circle{
    width: 100px;
    height: 100px;
    background-image: linear-gradient( to bottom, #2600af 10%, rgba(113, 123, 217, 1) );
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle h1{
    font-size: 40px;
    color: #fff;
}

.circle p{
    color: #c4c4c4;
    font-size: 12px;
}

.left h4{
    font-size: 26px;
    color: #fff;
}

.left P{
    font-size: 12px;
    color: #c4c4c4;
}

.right{
    background-color: #ffff;
    width: 50%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right h3{
    color: hsl(224, 30%, 27%);
}

.card{
    background: #717bd9;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.card .img{
    display: flex;
    gap: 7px;
    align-items: center;
}

.reaction{
    background: hsla(0, 100%, 67%, 0.140);
}

.Memory{
    background: hsl(39, 100%, 56%  , 0.140) ;
}

.Verbal{
    background: hsl(166, 100%, 37%, .140);
}

.Visual{
    background-color:hsl(234, 85%, 45%, .140);
}

.card span{
    color: #c4c4c4;
}

.card h5{
    color: #303b5a;
}

.reaction .img h5{
    color:hsla(0, 100%, 67%)
}

.Memory .img h5{
    color: hsla(39, 100%, 56%);
}

.Verbal .img h5{
    color: hsla(166, 100%, 37%);
}

.Visual .img h5{
    color: hsla(234, 85%, 45%);
}

.right a{
    text-align: center;
    background-image: linear-gradient( to top, #2600af 10%, rgba(113, 123, 217, 1) );
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    transition: .7s;
}

.right a:hover{
    background-image: linear-gradient( to top, #303b5a 10%, rgba(113, 123, 217, 1) );
}


@media (max-width: 1100px){
    .main{
        width: 50%;
    }

    .left{
        padding: 35px;
    }
}

@media (max-width:830px){
    .main{
        width: 60%;
    }

    .left{
        padding: 27px;
    }
}
@media (max-width:650px){
    .main{
        width: 70%;
    }

    .left{
        padding: 23px;
    }
}

@media (max-width:560px){
    .main{
        width: 80%;
    }
}

@media (max-width:515px){
    .main{
        display: flex;
        flex-direction: column;
    }

    .left{
        width: 100%;

    }

    .right{
        width: 100%;
    }
}

